@tailwind base;
@tailwind components;
@tailwind utilities;

@import '~slick-carousel/slick/slick.css';
@import '~slick-carousel/slick/slick-theme.css';

/* global.css or styles.css */
html {
  scroll-behavior: smooth;
  scroll-padding-top: 64px; 
  overflow-x: hidden;
}
